In [2]:
#Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [3]:
say_hello()

Hello!

In [4]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [5]:
say_something("Hello World")

Hello World

In [6]:
jane_says="Hi, my name is Jane. I'm learning Python"
say_something(jane_says)

Hi, my name is Jane. I'm learning Python

In [9]:
#Defining the function that will calculate the percentage of math approval
def passing_math_percentage(approval_count, total_count):
    return(float(approval_count)/float(total_count)*100)

In [10]:
passing_math_count = 29370
total_student_count = 39170

In [11]:
# Call the function
passing_math_percentage(passing_math_count, total_student_count)

74.9808526933878

In [13]:
# A list of my grades.
my_grades = ['B','C','B','D']

In [15]:
# Import pandas a convert the grades to a series
import pandas as pd
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [16]:
# Change my grades by one letter grade.
my_grades.map({'B':'A','C':'B','D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [19]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grades in my_grades:
    print("{:.0f}".format(grades))

92
85
87
98

In [20]:
# changing the grades to a series
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [23]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object